# Renaming and combining reference

## Introduction

This is the reference part of the "Renaming and combining" section of the Advanced Pandas tutorial. For the workbook section, click [here](https://www.kaggle.com/residentmario/renaming-and-combining-workbook).

Renaming is covered in its own section in the ["Essential Basic Functionality"](https://pandas.pydata.org/pandas-docs/stable/basics.html#renaming-mapping-labels) section of the extensive official documentation. Combining is covered by the ["Merge, join, concatenate"](https://pandas.pydata.org/pandas-docs/stable/merging.html) section there.

In [1]:
import pandas as pd
pd.set_option('max_rows', 5)
reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
reviews

         country          ...                         winery
0          Italy          ...                        Nicosia
1       Portugal          ...            Quinta dos Avidagos
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[129971 rows x 13 columns]

## Renaming

Oftentimes data will come to us with column names, index names, or other naming conventions that we are not satisfied with. In that case, we may use `pandas` renaming utility functions to change the names of the offending entries to something better.

The first function we'll introduce here is `rename`, which lets you rename index names and/or column names. For example, to change the `points` column in our dataset to `score`, we would do:

In [2]:
reviews.rename(columns={'points': 'score'})

         country          ...                         winery
0          Italy          ...                        Nicosia
1       Portugal          ...            Quinta dos Avidagos
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[129971 rows x 13 columns]

`rename` lets you rename index _or_ column values by specifying a `index` or `column` keyword parameter, respectively. It supports a variety of input formats, but I usually find a Python `dict` to be the most convenient one. Here is an example using it to rename some elements on the index.

In [3]:
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

              country          ...                         winery
firstEntry      Italy          ...                        Nicosia
secondEntry  Portugal          ...            Quinta dos Avidagos
...               ...          ...                            ...
129969         France          ...           Domaine Marcel Deiss
129970         France          ...               Domaine Schoffit

[129971 rows x 13 columns]

You'll probably rename columns very often, but rename index values very rarely.  For that, `set_index` is usually more convenient.

Both the row index and the column index can have their own `name` attribute. The complimentary `rename_axis` method may be used to change these names. For example:

In [4]:
reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

fields   country          ...                         winery
wines                     ...
0          Italy          ...                        Nicosia
1       Portugal          ...            Quinta dos Avidagos
...          ...          ...                            ...
129969    France          ...           Domaine Marcel Deiss
129970    France          ...               Domaine Schoffit

[129971 rows x 13 columns]

## Combining

When performing operations on a dataset we will sometimes need to combine different `DataFrame` and/or `Series` in non-trivial ways. `pandas` has three core methods for doing this. In order of increasing complexity, these are `concat`, `join`, and `merge`. Most of what `merge` can do can also be done more simply with `join`, so I will omit it and focus on the first two functions here.

The simplest combining method is `concat`. This function works just like the `list.concat` method in core Python: given a list of elements, it will smush those elements together along an axis.

This is useful when we have data in different `DataFrame` or `Series` objects but having the same fields (columns). One example: the [YouTube Videos dataset](https://www.kaggle.com/datasnaek/youtube-new), which splits the data up based on country of origin (e.g. Canada and the UK, in this example). If we want to study multiple countries simultaneously, we can use `concat` to smush them together:

In [5]:
canadian_youtube = pd.read_csv("../input/youtube-new/CAvideos.csv")
british_youtube = pd.read_csv("../input/youtube-new/GBvideos.csv")

pd.concat([canadian_youtube, british_youtube])

          video_id                        ...                                                                description
0      n1WpP7iowLc                        ...                          Eminem's new track Walk on Water ft. Beyonc√© i...
1      0dBIkQ4Mz1M                        ...                          STill got a lot of packages. Probably will las...
...            ...                        ...                                                                        ...
38914  -DRsfNObKIQ                        ...                          Eleni Foureira represented Cyprus at the first...
38915  4YFo4bdMO8Q                        ...                          Debut album 'Light of Mine' out now: http://ky...

[79797 rows x 16 columns]

The middlemost combiner in terms of complexity is `pd.DataFrame.join`. `join` lets you combine different `DataFrame` objects which have an index in common. For example, to pull down videos that happened to be trending on the same day in _both_ Canada and the UK, we could do the following:

In [6]:
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

                                                                 video_id_CAN      ...       description_UK
title                                              trending_date                   ...
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01       PNn8sECd7io      ...                  NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03       DvPW66IFhMI      ...                  NaN
...                                                                       ...      ...                  ...
üö® BREAKING NEWS üî¥ Raja Live all Slot Channels W... 18.07.05       Wt9Gkpmbt44      ...                  NaN
üö®Active Shooter at YouTube Headquarters - LIVE ... 18.04.04       Az72jrKbANA      ...                  NaN

[40900 rows x 28 columns]

The `lsuffix` and `rsuffix` parameters are necessary here because the data has the same column names in both British and Canadian datasets. If this wasn't true (because, say, we'd renamed them beforehand) we wouldn't need them.